# Imports...

In [1]:
import requests
import json
import pandas as pd
import numpy as np
import datetime
from tqdm import tqdm

# API AEMET - ACCIDENTES MADRID

In [2]:
# API_KEY AEMET
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqcGFyZWRlc2NvbG1lbmFyZWpvQGdtYWlsLmNvbSIsImp0aSI6IjY3ZWQ1YTEyLTBjNDQtNDgwMy05Y2E3LWU2ZTY1NGQzZDgxMCIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNjQzNzE1Nzc2LCJ1c2VySWQiOiI2N2VkNWExMi0wYzQ0LTQ4MDMtOWNhNy1lNmU2NTRkM2Q4MTAiLCJyb2xlIjoiIn0.1zJCQCxmG2xbcbvqTKHW2iKsSd8KalIrQGiL8iBrhHg"

# Entrada fechas a conseguir:
fechaini = "2019-01-01T00:00:00UTC"
fechafin = "2020-12-31T23:59:59UTC"
estacion = "3195" # Esta es la estacion Madrid-Retiro

url = 'https://opendata.aemet.es/opendata'
tiempo = "/api/valores/climatologicos/diarios/datos/fechaini/"+fechaini+"/fechafin/"+fechafin+"/estacion/"+estacion+"/"
response = requests.get(url + tiempo, params={'api_key': api_key})
print(response.status_code)
resp_dict = json.loads(response.text)

200

In [3]:
response3 = requests.get(resp_dict['datos'], params={'api_key': api_key})
dict_tiempo = json.loads(response3.text)
api = pd.DataFrame(dict_tiempo)
api.head(10)

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,presMax,horaPresMax,presMin,horaPresMin
0,2019-01-01,3195,"MADRID, RETIRO",MADRID,667,"6,6","0,0","1,4",07:30,"11,7",15:10,06,"0,3","5,3",00:00,"953,9",09,"951,5",05
1,2019-01-02,3195,"MADRID, RETIRO",MADRID,667,"6,0","0,0","0,4",06:30,"11,7",15:15,06,"0,6","7,8",23:20,"952,5",00,"948,3",16
2,2019-01-03,3195,"MADRID, RETIRO",MADRID,667,"7,3","0,0","2,8",07:00,"11,8",15:20,05,"0,6","7,8",00:10,"951,4",10,"949,0",05
3,2019-01-04,3195,"MADRID, RETIRO",MADRID,667,"5,9","0,0","0,4",08:05,"11,4",15:10,06,"0,3","3,6",05:40,"952,9",Varias,"949,9",05
4,2019-01-05,3195,"MADRID, RETIRO",MADRID,667,"5,4","0,0","-0,1",08:00,"10,8",15:00,09,"0,6","3,1",10:40,"955,2",12,"952,5",00
5,2019-01-06,3195,"MADRID, RETIRO",MADRID,667,"6,6","0,0","-0,5",Varias,"13,8",15:30,02,"1,1","3,3",16:00,"953,3",Varias,"950,2",15
6,2019-01-07,3195,"MADRID, RETIRO",MADRID,667,"7,1","0,0","0,5",08:00,"13,7",15:40,08,"0,6","5,0",21:50,"951,2",10,"948,6",14
7,2019-01-08,3195,"MADRID, RETIRO",MADRID,667,"7,1","0,0","1,2",08:00,"13,0",15:40,34,"0,8","3,6",20:20,"952,5",11,"947,8",24
8,2019-01-09,3195,"MADRID, RETIRO",MADRID,667,"7,6","0,0","2,0",08:00,"13,2",14:40,03,"1,4","9,7",16:00,"948,2",00,"941,3",19
9,2019-01-10,3195,"MADRID, RETIRO",MADRID,667,"4,7","0,0","0,6",06:10,"8,8",14:05,03,"2,8","10,0",19:40,"945,1",24,"940,2",05

In [4]:
# Vemos la info de cada columna
api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        731 non-null    object
 1   indicativo   731 non-null    object
 2   nombre       731 non-null    object
 3   provincia    731 non-null    object
 4   altitud      731 non-null    object
 5   tmed         731 non-null    object
 6   prec         731 non-null    object
 7   tmin         731 non-null    object
 8   horatmin     731 non-null    object
 9   tmax         731 non-null    object
 10  horatmax     731 non-null    object
 11  dir          597 non-null    object
 12  velmedia     604 non-null    object
 13  racha        597 non-null    object
 14  horaracha    597 non-null    object
 15  presMax      722 non-null    object
 16  horaPresMax  722 non-null    object
 17  presMin      722 non-null    object
 18  horaPresMin  721 non-null    object
dtypes: object(19)
memory usage: 108.6+ KB

# Tratado de datos en PANDAS

In [5]:
# Seleccionamos las columnas que queremos
datos_aemet = api[['fecha','prec','tmin','tmed','tmax','velmedia','racha']]
datos_aemet

          fecha prec  tmin tmed  tmax velmedia racha
0    2019-01-01  0,0   1,4  6,6  11,7      0,3   5,3
1    2019-01-02  0,0   0,4  6,0  11,7      0,6   7,8
2    2019-01-03  0,0   2,8  7,3  11,8      0,6   7,8
3    2019-01-04  0,0   0,4  5,9  11,4      0,3   3,6
4    2019-01-05  0,0  -0,1  5,4  10,8      0,6   3,1
..          ...  ...   ...  ...   ...      ...   ...
726  2020-12-27  2,2  -1,3  2,8   6,9      NaN   NaN
727  2020-12-28  0,1   2,9  5,7   8,5      NaN   NaN
728  2020-12-29  0,0   0,8  4,5   8,2      NaN   NaN
729  2020-12-30  0,0   1,2  4,8   8,4      NaN   NaN
730  2020-12-31  1,0  -1,2  2,8   6,9      NaN   NaN

[731 rows x 7 columns]

In [6]:
# Realizamos replace de ',' por '.' para poder pasar los datos de las columnas a float
datos_aemet.prec = datos_aemet.prec.str.replace(',','.')
datos_aemet.prec = datos_aemet.prec.str.replace('Ip','0')
datos_aemet.tmin = datos_aemet.tmin.str.replace(',','.')
datos_aemet.tmax = datos_aemet.tmax.str.replace(',','.')
datos_aemet.tmed = datos_aemet.tmed.str.replace(',','.')
datos_aemet.velmedia = datos_aemet.velmedia.str.replace(',','.')
datos_aemet.racha = datos_aemet.racha.str.replace(',','.')
#datos_aemet.fecha = datos_aemet.fecha.str.replace('-','/')
datos_aemet

c:\users\xhito\appdata\local\programs\python\python37\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

          fecha prec  tmin tmed  tmax velmedia racha
0    2019-01-01  0.0   1.4  6.6  11.7      0.3   5.3
1    2019-01-02  0.0   0.4  6.0  11.7      0.6   7.8
2    2019-01-03  0.0   2.8  7.3  11.8      0.6   7.8
3    2019-01-04  0.0   0.4  5.9  11.4      0.3   3.6
4    2019-01-05  0.0  -0.1  5.4  10.8      0.6   3.1
..          ...  ...   ...  ...   ...      ...   ...
726  2020-12-27  2.2  -1.3  2.8   6.9      NaN   NaN
727  2020-12-28  0.1   2.9  5.7   8.5      NaN   NaN
728  2020-12-29  0.0   0.8  4.5   8.2      NaN   NaN
729  2020-12-30  0.0   1.2  4.8   8.4      NaN   NaN
730  2020-12-31  1.0  -1.2  2.8   6.9      NaN   NaN

[731 rows x 7 columns]

In [7]:
# Transformamos a float las demas columnas
numeric = ['prec','tmin','tmed','tmax','velmedia','racha']
datos_aemet[numeric] = datos_aemet[numeric].apply(pd.to_numeric, downcast='integer')
datos_aemet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fecha     731 non-null    object
 1   prec      731 non-null    float64
 2   tmin      731 non-null    float64
 3   tmed      731 non-null    float64
 4   tmax      731 non-null    float64
 5   velmedia  604 non-null    float64
 6   racha     597 non-null    float64
dtypes: float64(6), object(1)
memory usage: 40.1+ KB

c:\users\xhito\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [8]:
# Tratado de nans
datos_aemet['velmedia'].fillna((datos_aemet['velmedia'].mean()), inplace=True)
datos_aemet['racha'].fillna((datos_aemet['racha'].mean()), inplace=True)
datos_aemet

c:\users\xhito\appdata\local\programs\python\python37\lib\site-packages\pandas\core\series.py:4469: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

          fecha  prec  tmin  tmed  tmax  velmedia     racha
0    2019-01-01   0.0   1.4   6.6  11.7  0.300000  5.300000
1    2019-01-02   0.0   0.4   6.0  11.7  0.600000  7.800000
2    2019-01-03   0.0   2.8   7.3  11.8  0.600000  7.800000
3    2019-01-04   0.0   0.4   5.9  11.4  0.300000  3.600000
4    2019-01-05   0.0  -0.1   5.4  10.8  0.600000  3.100000
..          ...   ...   ...   ...   ...       ...       ...
726  2020-12-27   2.2  -1.3   2.8   6.9  2.014238  9.147069
727  2020-12-28   0.1   2.9   5.7   8.5  2.014238  9.147069
728  2020-12-29   0.0   0.8   4.5   8.2  2.014238  9.147069
729  2020-12-30   0.0   1.2   4.8   8.4  2.014238  9.147069
730  2020-12-31   1.0  -1.2   2.8   6.9  2.014238  9.147069

[731 rows x 7 columns]

In [9]:
# Transformamos la fecha a 'datetime64'
datos_aemet['fecha'] = pd.to_datetime(datos_aemet['fecha'])
datos_aemet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fecha     731 non-null    datetime64[ns]
 1   prec      731 non-null    float64
 2   tmin      731 non-null    float64
 3   tmed      731 non-null    float64
 4   tmax      731 non-null    float64
 5   velmedia  731 non-null    float64
 6   racha     731 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 40.1 KB

c:\users\xhito\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
# Cambiamos el formato de la fecha para poder realizar el merge
datos_aemet.fecha = datos_aemet.fecha.dt.strftime('%d/%m/%Y')
datos_aemet.head(5)

c:\users\xhito\appdata\local\programs\python\python37\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        fecha  prec  tmin  tmed  tmax  velmedia  racha
0  01/01/2019   0.0   1.4   6.6  11.7       0.3    5.3
1  02/01/2019   0.0   0.4   6.0  11.7       0.6    7.8
2  03/01/2019   0.0   2.8   7.3  11.8       0.6    7.8
3  04/01/2019   0.0   0.4   5.9  11.4       0.3    3.6
4  05/01/2019   0.0  -0.1   5.4  10.8       0.6    3.1

In [11]:
# Ponemos la fecha como indice
#datos_aemet.set_index("fecha",inplace = True)
#datos_aemet

In [12]:
# Todo lo superios a 0.1 es lluvia
prec = datos_aemet[datos_aemet['prec']>= 0.1]
prec

          fecha  prec  tmin  tmed  tmax  velmedia      racha
18   19/01/2019   5.9  -0.5   2.0   4.4  0.600000   5.300000
21   22/01/2019   0.4   0.7   4.4   8.0  1.900000  11.100000
29   30/01/2019   4.1   4.2   7.2  10.1  3.300000  10.800000
30   31/01/2019   8.2   6.4   9.4  12.4  5.300000  17.200000
31   01/02/2019   1.0   3.5   6.4   9.4  3.900000  16.100000
..          ...   ...   ...   ...   ...       ...        ...
719  20/12/2020   0.2   5.7   8.4  11.2  2.014238   9.147069
722  23/12/2020   0.1   5.6   7.3   9.0  2.014238   9.147069
726  27/12/2020   2.2  -1.3   2.8   6.9  2.014238   9.147069
727  28/12/2020   0.1   2.9   5.7   8.5  2.014238   9.147069
730  31/12/2020   1.0  -1.2   2.8   6.9  2.014238   9.147069

[174 rows x 7 columns]

In [13]:
datos_aemet['Mojado'] = datos_aemet.apply(lambda x: 1 if x['prec'] >= 0.1 else 0, axis=1)
datos_aemet['Seco'] = datos_aemet.apply(lambda x: 0 if x['prec'] > 0.1 else 1, axis=1)
datos_aemet

c:\users\xhito\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\xhito\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          fecha  prec  tmin  tmed  tmax  velmedia     racha  Mojado  Seco
0    01/01/2019   0.0   1.4   6.6  11.7  0.300000  5.300000       0     1
1    02/01/2019   0.0   0.4   6.0  11.7  0.600000  7.800000       0     1
2    03/01/2019   0.0   2.8   7.3  11.8  0.600000  7.800000       0     1
3    04/01/2019   0.0   0.4   5.9  11.4  0.300000  3.600000       0     1
4    05/01/2019   0.0  -0.1   5.4  10.8  0.600000  3.100000       0     1
..          ...   ...   ...   ...   ...       ...       ...     ...   ...
726  27/12/2020   2.2  -1.3   2.8   6.9  2.014238  9.147069       1     0
727  28/12/2020   0.1   2.9   5.7   8.5  2.014238  9.147069       1     1
728  29/12/2020   0.0   0.8   4.5   8.2  2.014238  9.147069       0     1
729  30/12/2020   0.0   1.2   4.8   8.4  2.014238  9.147069       0     1
730  31/12/2020   1.0  -1.2   2.8   6.9  2.014238  9.147069       1     0

[731 rows x 9 columns]

In [14]:
# Guardado de los datos AEMET a .csv
#datos_aemet.to_csv("datos_aemet2.csv")

# Carga de dataframe Original y MERGE

In [15]:
# Cargamos el dataset Original
df = pd.read_pickle("accidentalidad_192021_actualizadoAbril22.pickle")
df = df.reset_index()
df.drop("fecha2", axis=1, inplace=True)
df.head(10)

,fecha,num_expediente,hora,localizacion,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,Interseccion,AltaVelocidad,lesividad
0,01/01/2019,2019S003289,Noche,AVDA. POBLADOS / CMNO. CRUCES,CARABANCHEL,Atropello a animal,Despejado,Turismo,Conductor,De 25 a 29 años,Hombre,"436012,37","4469875,33",N,1,0,14
1,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Conductor,De 40 a 44 años,Hombre,"441944,8","4480964,51",N,0,0,14.0
2,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Conductor,De 45 a 49 años,Hombre,"441944,8","4480964,51",N,0,0,7.0
3,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Pasajero,De 55 a 59 años,Hombre,"441944,8","4480964,51",N,0,0,2.0
4,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Pasajero,De 65 a 69 años,Mujer,"441944,8","4480964,51",N,0,0,14.0
5,01/01/2019,2019S000659,Valle,CALL. CASTELLO / CALL. DON RAMON DE LA CRUZ,SALAMANCA,Alcance,Despejado,Bicicleta,Conductor,De 25 a 29 años,Hombre,"442229,03","4475624,62",N,1,0,1.0
6,01/01/2019,2019S000659,Valle,CALL. CASTELLO / CALL. DON RAMON DE LA CRUZ,SALAMANCA,Alcance,Despejado,Turismo,Conductor,De 35 a 39 años,Hombre,"442229,03","4475624,62",N,1,0,14.0
7,01/01/2019,2019S001089,Valle,CALL. BERRUGUETE,TETUÁN,Choque contra obstáculo fijo,Despejado,Todo terreno,Conductor,De 65 a 69 años,Hombre,"440327,62","4478612,81",N,0,0,14
8,01/01/2019,2019S001089,Valle,CALL. BERRUGUETE,TETUÁN,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,De 35 a 39 años,Hombre,"440327,62","4478612,81",N,0,0,14
9,01/01/2019,2019S001089,Valle,CALL. BERRUGUETE,TETUÁN,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,De 50 a 54 años,Hombre,"440327,62","4478612,81",N,0,0,14

In [16]:
# Generamos un merge entre el dataframe de 'df' y 'datos_aemet'
df_original = pd.concat([df,datos_aemet],axis=1)
#df_final = df_final.drop_duplicates(df_final.columns.to_list())
df_original

,fecha,num_expediente,hora,localizacion,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,...,lesividad,fecha,prec,tmin,tmed,tmax,velmedia,racha,Mojado,Seco
0,01/01/2019,2019S003289,Noche,AVDA. POBLADOS / CMNO. CRUCES,CARABANCHEL,Atropello a animal,Despejado,Turismo,Conductor,De 25 a 29 años,...,14,01/01/2019,0.0,1.4,6.6,11.7,0.3,5.3,0.0,1.0
1,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Conductor,De 40 a 44 años,...,14.0,02/01/2019,0.0,0.4,6.0,11.7,0.6,7.8,0.0,1.0
2,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Conductor,De 45 a 49 años,...,7.0,03/01/2019,0.0,2.8,7.3,11.8,0.6,7.8,0.0,1.0
3,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Pasajero,De 55 a 59 años,...,2.0,04/01/2019,0.0,0.4,5.9,11.4,0.3,3.6,0.0,1.0
4,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Pasajero,De 65 a 69 años,...,14.0,05/01/2019,0.0,-0.1,5.4,10.8,0.6,3.1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108697,31/12/2020,2020S019517,Valle,CMNO. VENTA DEL PAJARO,PUENTE DE VALLECAS,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,De 65 a 69 años,...,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108698,31/12/2020,2020S019515,Valle,CTRA. VICALVARO A VALLECAS / AVDA. DEMOCRACIA,PUENTE DE VALLECAS,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,De 25 a 29 años,...,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108699,31/12/2020,2020S019466,Noche,CALL. JORGE JUAN / CALL. NARVAEZ,SALAMANCA,Caída,Despejado,Motocicleta hasta 125cc,Conductor,De 21 a 24 años,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108700,31/12/2020,2020S019531,Punta,PASEO. CASTELLANA,CHAMARTÍN,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 25 a 29 años,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108701,31/12/2020,2020S019531,Punta,PASEO. CASTELLANA,CHAMARTÍN,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 35 a 39 años,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Verificar campos de estado_meteorológico
df_original['estado_meteorológico'].unique()
# 1. 'Despejado'
# 2. 'nan'
# 3. 'Se desconoce'
# 4. 'Lluvia débil'
# 5. 'Nublado'
# 6. 'LLuvia intensa'
# 7. 'Granizando'
# 8. 'Nevando'

array(['Despejado', nan, 'Se desconoce', 'Lluvia débil', 'Nublado',
       'LLuvia intensa', 'Granizando', 'Nevando'], dtype=object)

# Verificacion del dataset original y los datos extraidos de AEMET

In [19]:
meteo_dummies = pd.get_dummies(df_original["estado_meteorológico"])
#meteo_dummies['fecha'] = df_original['fecha']
meteo_dummies

,Despejado,Granizando,LLuvia intensa,Lluvia débil,Nevando,Nublado,Se desconoce
0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0
2,1,0,0,0,0,0,0
3,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...
108697,1,0,0,0,0,0,0
108698,1,0,0,0,0,0,0
108699,1,0,0,0,0,0,0
108700,1,0,0,0,0,0,0
108701,1,0,0,0,0,0,0

In [20]:
# Generamos un merge entre el dataframe de 'df' y 'datos_aemet'
df_final = pd.concat([df_original,meteo_dummies],axis=1)
#df_final = df_final.drop_duplicates(df_final.columns.to_list())
df_final

,fecha,num_expediente,hora,localizacion,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,...,racha,Mojado,Seco,Despejado,Granizando,LLuvia intensa,Lluvia débil,Nevando,Nublado,Se desconoce
0,01/01/2019,2019S003289,Noche,AVDA. POBLADOS / CMNO. CRUCES,CARABANCHEL,Atropello a animal,Despejado,Turismo,Conductor,De 25 a 29 años,...,5.3,0.0,1.0,1,0,0,0,0,0,0
1,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Conductor,De 40 a 44 años,...,7.8,0.0,1.0,1,0,0,0,0,0,0
2,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Conductor,De 45 a 49 años,...,7.8,0.0,1.0,1,0,0,0,0,0,0
3,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Pasajero,De 55 a 59 años,...,3.6,0.0,1.0,1,0,0,0,0,0,0
4,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Pasajero,De 65 a 69 años,...,3.1,0.0,1.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108697,31/12/2020,2020S019517,Valle,CMNO. VENTA DEL PAJARO,PUENTE DE VALLECAS,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,De 65 a 69 años,...,NaN,NaN,NaN,1,0,0,0,0,0,0
108698,31/12/2020,2020S019515,Valle,CTRA. VICALVARO A VALLECAS / AVDA. DEMOCRACIA,PUENTE DE VALLECAS,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,De 25 a 29 años,...,NaN,NaN,NaN,1,0,0,0,0,0,0
108699,31/12/2020,2020S019466,Noche,CALL. JORGE JUAN / CALL. NARVAEZ,SALAMANCA,Caída,Despejado,Motocicleta hasta 125cc,Conductor,De 21 a 24 años,...,NaN,NaN,NaN,1,0,0,0,0,0,0
108700,31/12/2020,2020S019531,Punta,PASEO. CASTELLANA,CHAMARTÍN,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 25 a 29 años,...,NaN,NaN,NaN,1,0,0,0,0,0,0
108701,31/12/2020,2020S019531,Punta,PASEO. CASTELLANA,CHAMARTÍN,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 35 a 39 años,...,NaN,NaN,NaN,1,0,0,0,0,0,0

In [21]:
# Creamos las nuevas columnas que verifican sobre el get_dummies y las nuevas columnas 'Lluvia' y 'Sol' extraidas del AEMET
tqdm.pandas()
df_final['vrf_Despejado'] = df_final.progress_apply(lambda x: 1 if (x['Despejado']==1)&(x['Seco']==1) else 0, axis=1)
df_final['vrf_Lluvioso'] = df_final.progress_apply(lambda x: 1 if (x['LLuvia intensa']==1)&(x['Mojado']==1) else 0, axis=1)
df_final['vrf_Granizando'] = df_final.progress_apply(lambda x: 1 if (x['Granizando']==1)&(x['Mojado']==1) else 0, axis=1)
df_final['vrf_Nevando'] = df_final.progress_apply(lambda x: 1 if (x['Nevando']==1)&(x['Mojado']==1) else 0, axis=1)
df_final['vrf_Lluvia débil'] = df_final.progress_apply(lambda x: 1 if (x['Lluvia débil']==1)&(x['Mojado']==1) else 0, axis=1)
df_final['vrf_Se_desconoce'] = df_final.progress_apply(lambda x: 1 if (x['Se desconoce']==1)&(x['Mojado']==1) else 0, axis=1)
df_final['vrf_Nublado'] = df_final.progress_apply(lambda x: 1 if (x['Nublado']==1)&(x['Mojado']==1) else 0, axis=1)

100%|███████████████████████████████████████████████████████| 108702/108702 [00:02<00:00, 52103.60it/s]
100%|███████████████████████████████████████████████████████| 108702/108702 [00:02<00:00, 52423.07it/s]
100%|███████████████████████████████████████████████████████| 108702/108702 [00:02<00:00, 52517.50it/s]
100%|███████████████████████████████████████████████████████| 108702/108702 [00:02<00:00, 52403.45it/s]
100%|███████████████████████████████████████████████████████| 108702/108702 [00:02<00:00, 51968.76it/s]
100%|███████████████████████████████████████████████████████| 108702/108702 [00:02<00:00, 51987.28it/s]
100%|███████████████████████████████████████████████████████| 108702/108702 [00:02<00:00, 52023.85it/s]

In [22]:
df_final

,fecha,num_expediente,hora,localizacion,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,...,Nevando,Nublado,Se desconoce,vrf_Despejado,vrf_Lluvioso,vrf_Granizando,vrf_Nevando,vrf_Lluvia débil,vrf_Se_desconoce,vrf_Nublado
0,01/01/2019,2019S003289,Noche,AVDA. POBLADOS / CMNO. CRUCES,CARABANCHEL,Atropello a animal,Despejado,Turismo,Conductor,De 25 a 29 años,...,0,0,0,1,0,0,0,0,0,0
1,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Conductor,De 40 a 44 años,...,0,0,0,1,0,0,0,0,0,0
2,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Conductor,De 45 a 49 años,...,0,0,0,1,0,0,0,0,0,0
3,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Pasajero,De 55 a 59 años,...,0,0,0,1,0,0,0,0,0,0
4,01/01/2019,2019S000022,Valle,CALL. CONDE DE TORRALBA,CHAMARTÍN,Alcance,Despejado,Turismo,Pasajero,De 65 a 69 años,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108697,31/12/2020,2020S019517,Valle,CMNO. VENTA DEL PAJARO,PUENTE DE VALLECAS,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,De 65 a 69 años,...,0,0,0,0,0,0,0,0,0,0
108698,31/12/2020,2020S019515,Valle,CTRA. VICALVARO A VALLECAS / AVDA. DEMOCRACIA,PUENTE DE VALLECAS,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,De 25 a 29 años,...,0,0,0,0,0,0,0,0,0,0
108699,31/12/2020,2020S019466,Noche,CALL. JORGE JUAN / CALL. NARVAEZ,SALAMANCA,Caída,Despejado,Motocicleta hasta 125cc,Conductor,De 21 a 24 años,...,0,0,0,0,0,0,0,0,0,0
108700,31/12/2020,2020S019531,Punta,PASEO. CASTELLANA,CHAMARTÍN,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 25 a 29 años,...,0,0,0,0,0,0,0,0,0,0
108701,31/12/2020,2020S019531,Punta,PASEO. CASTELLANA,CHAMARTÍN,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 35 a 39 años,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# Seleccionamos las columnas que necesitamos para unir el data final
final = df_final[['fecha','prec','tmin','tmed','tmax','velmedia','racha','vrf_Despejado','vrf_Lluvioso','vrf_Granizando','vrf_Nevando','vrf_Lluvia débil','vrf_Se_desconoce','vrf_Nublado']]

In [24]:
final

,fecha,fecha,prec,tmin,tmed,tmax,velmedia,racha,vrf_Despejado,vrf_Lluvioso,vrf_Granizando,vrf_Nevando,vrf_Lluvia débil,vrf_Se_desconoce,vrf_Nublado
0,01/01/2019,01/01/2019,0.0,1.4,6.6,11.7,0.3,5.3,1,0,0,0,0,0,0
1,01/01/2019,02/01/2019,0.0,0.4,6.0,11.7,0.6,7.8,1,0,0,0,0,0,0
2,01/01/2019,03/01/2019,0.0,2.8,7.3,11.8,0.6,7.8,1,0,0,0,0,0,0
3,01/01/2019,04/01/2019,0.0,0.4,5.9,11.4,0.3,3.6,1,0,0,0,0,0,0
4,01/01/2019,05/01/2019,0.0,-0.1,5.4,10.8,0.6,3.1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108697,31/12/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0
108698,31/12/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0
108699,31/12/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0
108700,31/12/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0
108701,31/12/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0

In [26]:
# Guardamos el .csv
#final.to_csv("dffinal_datos_verificados_aemet_con_fecha.csv")

In [29]:
final.drop(["fecha"], axis=1, inplace=True)
final.head(5)

c:\users\xhito\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,prec,tmin,tmed,tmax,velmedia,racha,vrf_Despejado,vrf_Lluvioso,vrf_Granizando,vrf_Nevando,vrf_Lluvia débil,vrf_Se_desconoce,vrf_Nublado
0,0.0,1.4,6.6,11.7,0.3,5.3,1,0,0,0,0,0,0
1,0.0,0.4,6.0,11.7,0.6,7.8,1,0,0,0,0,0,0
2,0.0,2.8,7.3,11.8,0.6,7.8,1,0,0,0,0,0,0
3,0.0,0.4,5.9,11.4,0.3,3.6,1,0,0,0,0,0,0
4,0.0,-0.1,5.4,10.8,0.6,3.1,1,0,0,0,0,0,0

In [30]:
# Guardamos el .csv
#final.to_csv("dffinal_datos_verificados_aemet_para_merge.csv")